# Data ì •ë³´
|csvì´ë¦„|ë‚´ìš©|
|--|----|
|`SeoulCity.csv`|ì„œìš¸ì‹œ ë‚ ì”¨ ë°ì´í„°|
|`KR_youtube.csv`|í•œêµ­ ìœ íŠœë¸Œ ì¸ê¸° ë™ì˜ìƒ ë°ì´í„°|
|`worldcupgoals.csv`|ì›”ë“œì»µ ê³¨ê¸°ë¡ ë°ì´í„°|

In [1]:
import pandas as pd
import numpy as np

In [2]:
dir = "./Data/"
Seoul_csv = pd.read_csv(dir + "SeoulCity_UTF8.csv", encoding="utf-8-sig")
Youtube_csv = pd.read_csv(dir + "KR_youtube.csv", encoding="utf-8-sig")
World_csv = pd.read_csv(dir + "worldcupgoals.csv", encoding="cp949")

### A. ë¬¸ì œ worldcupgoals.csv ì—­ëŒ€ ì›”ë“œì»µ ê²½ê¸° ê³¨ ê¸°ë¡
|í•„ë“œëª…|ë‚´ìš©|
|--|----|
|`Player`|ì„ ìˆ˜ì´ë¦„|
|`Goals`|ê³¨ íšŸìˆ˜|
|`Year`|ì¶œì „ë…„ë„|
|`Country`|êµ­ê°€|

In [9]:
World = World_csv.copy()
World

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

ë‚œì´ë„: â˜…â˜†â˜†â˜†â˜†  
ë¬¸ì œ1: ë…ì¼ êµ­ì [Germany]ì„ ê°€ì§„ ì„ ìˆ˜ì˜ ì •ë³´ë¥¼ ì¶œë ¥í•˜ì‹œì˜¤  
[ì‚¬ìš©í•„ë“œ: Country]

In [7]:
World.query('Country == "Germany"')

                      Player  Goals                Years  Country
0             Miroslav Klose     16  2002-2006-2010-2014  Germany
2                Gerd Muller     14            1970-1974  Germany
5           Jurgen Klinsmann     11       1990-1994-1998  Germany
9              Thomas Muller     10            2010-2014  Germany
10               Helmut Rahn     10            1954-1958  Germany
..                       ...    ...                  ...      ...
811  Karl Heinz Schnellinger      1  1958-1962-1966-1970  Germany
812            Otto Siffling      1                 1934  Germany
813       Juergen Sparwasser      1                 1974  Germany
814          Horst Szymaniak      1            1958-1962  Germany
815           Wolfgang Weber      1            1966-1970  Germany

[78 rows x 4 columns]

ë‚œì´ë„: â˜…â˜†â˜†â˜†â˜†  
ë¬¸ì œ2: ë¸Œë¼ì§ˆ êµ­ì [Brazil]ì„ ê°€ì§„ ì„ ìˆ˜ì¤‘ ê°€ì¥ ë§ì€ ê³¨ì„ ë„£ì€ ì„ ìˆ˜ì˜ ì´ë¦„ì„ ì¶œë ¥í•˜ì‹œì˜¤  
[ì‚¬ìš©í•„ë“œ: Country]  
[ì‚¬ìš©í•¨ìˆ˜: sort_values, head]

In [ ]:
# ê°€ì´ë“œ / íŒíŠ¸
# 1. ë¸Œë¼ì§ˆ êµ­ì ì„ ê°€ì§„ ì„ ìˆ˜ì˜ ì •ë³´ ì¶œë ¥
# 2. ì •ë ¬
# 3. ìœ„ì—ì„œ í•œê°œë§Œ ì¶œë ¥í•˜ì—¬ ë°ì´í„° ì €ì¥
# 4. ì„ ìˆ˜ ì´ë¦„ì„ ì¶œë ¥

In [18]:
World['Country'].unique()

array(['Germany', 'Brazil', 'France', 'Hungary', 'Argentina', 'England',
       'Peru', 'Poland', 'Italy', 'Portugal', 'Spain', 'Uruguay', 'Czech',
       'Netherlands', 'Austria', 'Bulgaria', 'Colombia', 'Croatia',
       'Ghana', 'Russia', 'Switzerland', 'Australia', 'Belgium',
       'Cameroon', 'Denmark', 'Northern Ireland', 'Sweden', 'USA', 'USSR',
       'Chile', 'Japan', 'Mexico', 'Nigeria', 'Romania', 'Slovakia',
       'Yugoslavia', 'Costa Rica', 'Ecuador', 'Ireland', 'Paraguay',
       'Saudi Arabia', 'Scotland', 'Senegal', 'South Korea', 'Turkey',
       'Algeria', 'Cote dIvoire', 'Cuba', 'Czech Republic', 'Egypt',
       'Haiti', 'Jamaica', 'Morocco', 'North Korea', 'Norway',
       'South Africa', 'Tunisia', 'Ukraine', 'Wales', 'Angola', 'Bolivia',
       'Bosnia Herz', 'El Salvador', 'Greece', 'Honduras', 'Iceland',
       'Iran', 'Iraq', 'Israel', 'Kuwait', 'New Zealand', 'Panama',
       'Serbia', 'Slovenia', 'Togo', 'UAE'], dtype=object)

In [30]:
World.query('Country == "Brazil"').sort_values(by='Goals', ascending=False).head(1)['Player']

1    Ronaldo
Name: Player, dtype: object

ë‚œì´ë„: â˜…â˜…â˜†â˜†â˜†  
ë¬¸ì œ3: ê° ì„ ìˆ˜ë³„ ì¶œì „ë…„ë„ì¸ Yearë¥¼ Numberë¡œ ì›”ë“œì»µ ì°¸ê°€ íšŸìˆ˜ë¥¼ ê¸°ì¬í•œ í•„ë“œë¥¼ ìƒì„±í•˜ì‹œì˜¤.  
[ì‚¬ìš©í•„ë“œ: Year]  
[ìƒì„±í•„ë“œ: Number]  
[ì‚¬ìš©í•¨ìˆ˜: split, map or lamda]

In [ ]:
# ê°€ì´ë“œ / íŒíŠ¸ 
# 1. Year í•„ë“œë¥¼ ë¶„ë¦¬í•´ì„œ Seriseë¡œ ë³´ì—¬ì£¼ê¸°
# 2. ë¶„ë¦¬ëœ Serise í•„ë“œë¥¼ í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ í•„ë“œì˜ ê°œìˆ˜ë¥¼ ì„¸ê¸°
# 2-1. lambda ì‹ì„ ì‚¬ìš©í•˜ê¸°
# 2-2. mapê³¼ í•¨ìˆ˜ë¥¼ ë§Œë“¤ì–´ì„œ í•´ê²°í•˜ê¸°
# 3. í’€ì´ë²• 2ë²ˆì—ì„œ í•´ê²°í•œ ë°©ì‹ìœ¼ë¡œ ì ìš©ëœ ê°’ì„ Number í•„ë“œì— ë„£ê¸°

In [54]:
World['Number'] = World['Years'].apply(lambda x : len(x.split('-')))

In [56]:
World.head(5)

           Player  Goals                Years  Country  Number
0  Miroslav Klose     16  2002-2006-2010-2014  Germany       4
1         Ronaldo     15       1998-2002-2006   Brazil       3
2     Gerd Muller     14            1970-1974  Germany       2
3   Just Fontaine     13                 1958   France       1
4            Pele     12  1958-1962-1966-1970   Brazil       4

ë‚œì´ë„: â˜…â˜…â˜†â˜†â˜†  
ë¬¸ì œ4: ê° ë‚˜ë¼ë³„ ì›”ë“œì»µ ê³¨ ê°œìˆ˜ ì¶œë ¥í•˜ê³  ìƒìœ„ 5ê°œ íŒ€ë§Œ ì¶œë ¥í•˜ì‹œì˜¤  
[ì‚¬ìš©í•¨ìˆ˜: groupby, sort_values, head]  
[ì‚¬ìš©í•„ë“œ: Country, Goals]

In [ ]:
# ê°€ì´ë“œ / íŒíŠ¸
# 1. í‘œë¡œ ì¶œë ¥í•  í•„ë“œ ì¼ë¶€ë§Œ ê°€ì ¸ì˜¤ê¸°
# 2. Countryë¡œ groupbyë¥¼ í•˜ê¸° [ê·¸ë£¹ëœ í•„ë“œ í•¨ìˆ˜: sum]
# 3. Goalsë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬í•˜ê¸°
# 4. ìƒìœ„ 5ê°œë§Œ ì¶œë ¥í•˜ê¸°

In [59]:
World.groupby('Country').agg({'Goals':'sum'}).sort_values('Goals',ascending=False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

### KR_youtube.csv ìœ íŠœë¸Œ ì¸ê¸° ì˜ìƒ
|í•„ë“œëª…|ë‚´ìš©|
|--|----|
|`video_id`|ë™ì˜ìƒID|
|`title`|ë™ì˜ìƒì œëª©|
|`publishedAt`|ë™ì˜ìƒ ê°œì‹œì¼|
|`channelId`|ì±„ë„ì•„ì´ë””|
|`channelTitle`|ì±„ë„ì œëª©|
|`categoryId`|ì¥ë¥´ì½”ë“œ|
|`trending_date`|ìˆ˜ì •ë‚ ì§œ|
|`tags`|íƒœê·¸|
|`view_count`|ì‹œì²­íšŸìˆ˜|
|`likes`|ì¢‹ì•„ìš”|
|`dislikes`|ì‹«ì–´ìš”|
|`comment_count`|ë‹µê¸€ ê°œìˆ˜|
|`thumbnail_link`|ì¸ë„¤ì¼ ë§í¬|
|`comments_disabled`|ë‹µê¸€ [ë¹„]/í™œì„±í™” ì—¬ë¶€|
|`ratings_disabled`|ì‹œì²­ë“±ê¸‰ ì‚¬ìš© ì—¬ë¶€|
|`description`|ë™ì˜ìƒ ì„¤ëª…|

In [60]:
Youtube = Youtube_csv.copy()
Youtube

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-12T00:00:00Z,ë³´ê²¸|bokyem,5947503,53326,105756,139946,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN
1,I-ZbZCHsHD0,ë¶€ë½í† ìŠ¤ì˜ ê³„íš [ì´ëª‡ëª… í”„ë¦¬í€„],2020-08-12T09:00:08Z,UCRuSxVu4iqTK5kCh90ntAgA,ì´ëª‡ëª…,1,2020-08-12T00:00:00Z,ì´ëª‡ëª…|ì¬ë°ŒëŠ” ë§Œí™”|ë¶€ë½í† ìŠ¤|ë£¨ì‹œí¼|ì´ëª‡ëª… í”„ë¦¬í€„|ì´ëª‡ëª… ìŠ¤í† ë¦¬,963384,28244,494,3339,https://i.ytimg.com/vi/I-ZbZCHsHD0/default.jpg,False,False,"ì˜¤ëŠ˜ë„ ì •ë§ ê°ì‚¬ë“œë¦½ë‹ˆë‹¤!!ì´ëª‡ëª… ìŠ¤íŠœë””ì˜¤ - ì´ëª‡ëª…, ì‹­ì œê³±, 5Gë¯¼, MOVEí˜..."
2,9d7jNUjBoss,í‰ìƒ ë°˜ì„±í•˜ë©´ì„œ ì‚´ê² ìŠµë‹ˆë‹¤.,2020-08-10T09:54:13Z,UCMVC92EOs9yDJG5JS-CMesQ,ì–‘íŒ¡ YangPang,22,2020-08-12T00:00:00Z,ì–‘íŒ¡|ì–‘íŒ¡ìœ íŠœë¸Œ|íŒ¡íŠœë¸Œ|ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ê°€ì¡±|ì–‘íŒ¡ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ì–¸ë‹ˆ|í˜„ì‹¤ë‚¨ë§¤|í˜„ì‹¤ìë§¤...,2950885,17974,68898,50688,https://i.ytimg.com/vi/9d7jNUjBoss/default.jpg,False,False,NaN
3,3pI_L3-sMVg,á„‹á…¡á†«á„‚á…§á†¼á„’á…¡á„‰á…¦á„‹á…­ ê½ˆëšœë£¹ì…ë‹ˆë‹¤.,2020-08-11T15:00:58Z,UCkQCwnkQfgSuPTTnw_Y7v7w,ê½ˆëšœë£¹ Quaddurup,24,2020-08-12T00:00:00Z,ê½ˆëšœë£¹|í•œêµ­ì—¬í–‰ê¸°|quaddurup|ëšœë£¹ì´|korea|southkorea|vlog|...,1743374,36893,1798,8751,https://i.ytimg.com/vi/3pI_L3-sMVg/default.jpg,False,False,ì•ìœ¼ë¡œ ì¢€ ë” ê¹”ë”í•œ ì˜ìƒì œì‘ ì•½ì† ë“œë¦¬ê² ìŠµë‹ˆë‹¤.ëŠ˜ ê°ì‚¬ë“œë¦½ë‹ˆë‹¤
4,zrsBjYukE8s,ë°•ì§„ì˜ (J.Y. Park) When We Disco (Duet with ì„ ë¯¸) M/V,2020-08-11T09:00:13Z,UCaO6TYtlC8U5ttz62hTrZgg,JYP Entertainment,10,2020-08-12T00:00:00Z,JYP Entertainment|JYP|J.Y.Park|JYPark|ë°•ì§„ì˜|ì„ ë¯¸|S...,3433885,353337,9763,23405,https://i.ytimg.com/vi/zrsBjYukE8s/default.jpg,False,False,MelOn http://kko.to/TWyXd7zYjSpotify https://s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226949,-dL8aYIHsmg,ASMR(Subâœ”)2ë…„ë§Œì— í•˜ëŠ” ìœ„ìŠ¤í¼ë§ ì–‘ìª½ ê·€ì— ì•„ì£¼ ë¶€ë“œëŸ½ê²Œ ì†ì‚­ì—¬ë“œë ¤ìš”It'...,2023-09-16T14:09:35Z,UCJXuQ9aRkS_HaFEBhiHFpWw,[ASMR]nara_ë‚˜ë¼,22,2023-10-04T00:00:00Z,#ìœ„ìŠ¤í¼ë§|#ìˆ˜ë‹¤asmr|#í† í‚¹asmr,345248,9461,0,506,https://i.ytimg.com/vi/-dL8aYIHsmg/default.jpg,False,False,ì•ˆë…•í•˜ì„¸ìš” ì—¬ëŸ¬ë¶„ ì˜¤ëŠ˜ì€ ê±°ì˜ 2ë…„ ë§Œì— í•˜ëŠ” ìœ„ìŠ¤í¼ë§ í† í‚¹ ì˜ìƒì…ë‹ˆë‹¤ê·¸ë™ì•ˆ ìƒí™©ê·¹...
226950,LMrLWuK3QGk,ì¼ë³¸ ì¼ìƒ vlogã…£ì—°í•˜ ì¼ë³¸ì¸ ë‚¨ì¹œì´ ì²˜ìŒìœ¼ë¡œ ì§ˆíˆ¬í•œ ì°í‘¼ë‹¤..ë„..ë„íŒŒ..ë¯¼ğŸ”¥ã…£...,2023-09-15T15:38:36Z,UCoQy2wS5aiKCk-rUXiLS-vQ,í† ëª¨í† ëª¨TomoTomo,22,2023-10-04T00:00:00Z,[None],635649,13707,0,1180,https://i.ytimg.com/vi/LMrLWuK3QGk/default.jpg,False,False,â–¶ï¸ã€€instagram : @zzangtomo http://instagram.com...
226951,3RwTNe0gHYI,ê³µì‚°êµ­ê°€ ì¿ ë°”ì—ì„œ ë‹¤ì‹œ ë§Œë‚œ 3ì¸ì¡° - ì¿ ë°”(1),2023-09-14T12:36:34Z,UClRNDVO8093rmRTtLe4GEPw,ê³½íŠœë¸Œ,19,2023-10-04T00:00:00Z,[None],2023156,35553,0,2279,https://i.ytimg.com/vi/3RwTNe0gHYI/default.jpg,False,False,"ì•ˆë…•í•˜ì„¸ìš”ì¿ ë°” í•˜ë°”ë‚˜ì—ì„œ ë“œë””ì–´ë…¸í™ì² , ë¹ ë‹ˆë³´í‹€ í˜•ë‹˜ê³¼ ì¬íšŒí–ˆìŠµë‹ˆë‹¤.1í¸ ë¶„ëŸ‰ ì¡°ì ˆ..."
226952,8ufmaYg96ew,ë”¸ì˜ ê²°í˜¼ì‹ì„ ìœ„í•´ ë¯¸êµ­ì—ì„œ ê°€ì¡±ë“¤ì´ í•œêµ­ì— ì™”ìŠµë‹ˆë‹¤ My Family Came t...,2023-09-16T11:11:10Z,UCv8lBJuzo6iCtYgZC8csBOg,D&Jë”˜ and ì¤„ë¦¬ì—£,22,2023-10-04T00:00:00Z,International couple|Korean boyfriend|American...,529574,16726,0,898,https://i.ytimg.com/vi/8ufmaYg96ew/default.jpg,False,False,"â€»ê°€ì¡±ë“¤ì— ëŒ€í•œ ìš•ì„¤ê³¼ ë¹„ë°©ì„± ëŒ“ê¸€ì€ í†µë³´ì—†ì´ ì‚­ì œí•˜ê² ìŠµë‹ˆë‹¤â€»ì•ˆë…•í•˜ì„¸ìš”, D&J êµ¬..."
226953,ysTIbxMTJp8,I donâ€™t know a single thing (Feat. meenoi),2023-09-13T09:00:46Z,UCoV8L_tyJqZoRh51f-2ylhQ,Leellamarz - Topic,10,2023-10-04T00:00:00Z,Leellamarz|ë¦´ëŸ¬ë§ì¦ˆ|meenoi|I donâ€™t know a single t...,1442336,13543,0,0,https://i.ytimg.com/vi/ysTIbxMTJp8/default.jpg,False,False,Provided to YouTube by Genie Music Corporation...

ë‚œì´ë„: â˜…â˜…â˜†â˜†â˜†  
ë¬¸ì œ1: ì¸ê¸° ìˆëŠ” ë™ì˜ìƒ ì¤‘ ì‹«ì–´ìš”[dislikes] ë³´ë‹¤ ì¢‹ì•„ìš”[likes]ê°€ ë§ì€ ë™ì˜ìƒê³¼ ì¢‹ì•„ìš”[likes]ë³´ë‹¤ ì‹«ì–´ìš”[dislikes]ê°€ ë§ì€ ë™ì˜ìƒ ìƒìœ„ 5ìœ„ê¹Œì§€ì˜ ì •ë³´ë¥¼ ì¶œë ¥í•˜ì‹œì˜¤  
[ì‚¬ìš©í•„ë“œ: likes, dislikes]  
[ì‚¬ìš©í•¨ìˆ˜: sort_values, head]

In [ ]:
# 1. ì¢‹ì•„ìš”ê°€ ë§ì€ ë™ì˜ìƒ ìƒìœ„ 5ê°œ ì¶œë ¥í•˜ê¸°
# í’€ì´ë²• 
# 1) likesì™€ dislikes ë¹„êµ
# 2) ì •ë ¬í•˜ê¸°
# 3) ìƒìœ„ 5ê°œ í•„ë“œ ì¶œë ¥

In [61]:
Youtube.head(1)

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-12T00:00:00Z,ë³´ê²¸|bokyem,5947503,53326,105756,139946,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN

In [65]:
Youtube[Youtube['likes'] > Youtube['dislikes']].head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,like_diff
1,I-ZbZCHsHD0,ë¶€ë½í† ìŠ¤ì˜ ê³„íš [ì´ëª‡ëª… í”„ë¦¬í€„],2020-08-12T09:00:08Z,UCRuSxVu4iqTK5kCh90ntAgA,ì´ëª‡ëª…,1,2020-08-12T00:00:00Z,ì´ëª‡ëª…|ì¬ë°ŒëŠ” ë§Œí™”|ë¶€ë½í† ìŠ¤|ë£¨ì‹œí¼|ì´ëª‡ëª… í”„ë¦¬í€„|ì´ëª‡ëª… ìŠ¤í† ë¦¬,963384,28244,494,3339,https://i.ytimg.com/vi/I-ZbZCHsHD0/default.jpg,False,False,"ì˜¤ëŠ˜ë„ ì •ë§ ê°ì‚¬ë“œë¦½ë‹ˆë‹¤!!ì´ëª‡ëª… ìŠ¤íŠœë””ì˜¤ - ì´ëª‡ëª…, ì‹­ì œê³±, 5Gë¯¼, MOVEí˜...",27750
3,3pI_L3-sMVg,á„‹á…¡á†«á„‚á…§á†¼á„’á…¡á„‰á…¦á„‹á…­ ê½ˆëšœë£¹ì…ë‹ˆë‹¤.,2020-08-11T15:00:58Z,UCkQCwnkQfgSuPTTnw_Y7v7w,ê½ˆëšœë£¹ Quaddurup,24,2020-08-12T00:00:00Z,ê½ˆëšœë£¹|í•œêµ­ì—¬í–‰ê¸°|quaddurup|ëšœë£¹ì´|korea|southkorea|vlog|...,1743374,36893,1798,8751,https://i.ytimg.com/vi/3pI_L3-sMVg/default.jpg,False,False,ì•ìœ¼ë¡œ ì¢€ ë” ê¹”ë”í•œ ì˜ìƒì œì‘ ì•½ì† ë“œë¦¬ê² ìŠµë‹ˆë‹¤.ëŠ˜ ê°ì‚¬ë“œë¦½ë‹ˆë‹¤,35095
4,zrsBjYukE8s,ë°•ì§„ì˜ (J.Y. Park) When We Disco (Duet with ì„ ë¯¸) M/V,2020-08-11T09:00:13Z,UCaO6TYtlC8U5ttz62hTrZgg,JYP Entertainment,10,2020-08-12T00:00:00Z,JYP Entertainment|JYP|J.Y.Park|JYPark|ë°•ì§„ì˜|ì„ ë¯¸|S...,3433885,353337,9763,23405,https://i.ytimg.com/vi/zrsBjYukE8s/default.jpg,False,False,MelOn http://kko.to/TWyXd7zYjSpotify https://s...,343574
5,jbGRowa5tIk,ITZY â€œNot Shyâ€ M/V TEASER,2020-08-11T15:00:13Z,UCaO6TYtlC8U5ttz62hTrZgg,JYP Entertainment,10,2020-08-12T00:00:00Z,JYP Entertainment|JYP|ITZY|ìˆì§€|ITZY Video|ITZY ...,6000070,714301,15176,31040,https://i.ytimg.com/vi/jbGRowa5tIk/default.jpg,False,False,ITZY Not Shy M/V[ITZY Official] https://www.yo...,699125
6,X-TPQPEyRGo,í‘ì¸ ë§ˆë™ì„ì´ ì¶œê·¼í•˜ëŠ” ë§ˆíŠ¸ë¥¼ í„¸ëŸ¬ì˜¨ ê°•ë„ë“¤ ì—ê²Œ ë²Œì–´ì§„ ì¼ ã… ã…,2020-08-10T09:37:33Z,UCpCiIDf9UrfRqte55FHWlYQ,ë“œë¦¼í…”ëŸ¬(DreamTeller),1,2020-08-12T00:00:00Z,[None],690331,6657,393,834,https://i.ytimg.com/vi/X-TPQPEyRGo/default.jpg,False,False,#ë§ˆíŠ¸ìŠµê²©ì‚¬ê±´ #ì˜í™”ì†Œê°œ #ì˜í™” #ì¶”ì²œì˜í™”,6264

In [64]:
Youtube['like_diff'] = Youtube['likes'] - Youtube['dislikes']
Youtube[Youtube['likes'] > Youtube['dislikes']].sort_values('like_diff', ascending=False).head(5)

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,like_diff
55138,WMweEpGlu_U,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV,2021-05-21T03:46:13Z,UC3IZKseVpdzPSBaWxBxundA,HYBE LABELS,10,2021-06-04T00:00:00Z,BIGHIT|ë¹…íˆíŠ¸|ë°©íƒ„ì†Œë…„ë‹¨|BTS|BANGTAN|ë°©íƒ„,296314174,16464253,181350,6939302,https://i.ytimg.com/vi/WMweEpGlu_U/default.jpg,False,False,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV Credits: Dire...,16282903
54938,WMweEpGlu_U,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV,2021-05-21T03:46:13Z,UC3IZKseVpdzPSBaWxBxundA,HYBE LABELS,10,2021-06-03T00:00:00Z,BIGHIT|ë¹…íˆíŠ¸|ë°©íƒ„ì†Œë…„ë‹¨|BTS|BANGTAN|ë°©íƒ„,292502967,16413537,178381,6913277,https://i.ytimg.com/vi/WMweEpGlu_U/default.jpg,False,False,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV Credits: Dire...,16235156
54729,WMweEpGlu_U,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV,2021-05-21T03:46:13Z,UC3IZKseVpdzPSBaWxBxundA,HYBE LABELS,10,2021-06-03T00:00:00Z,BIGHIT|ë¹…íˆíŠ¸|ë°©íƒ„ì†Œë…„ë‹¨|BTS|BANGTAN|ë°©íƒ„,289350312,16369715,175204,6889393,https://i.ytimg.com/vi/WMweEpGlu_U/default.jpg,False,False,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV Credits: Dire...,16194511
54519,WMweEpGlu_U,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV,2021-05-21T03:46:13Z,UC3IZKseVpdzPSBaWxBxundA,HYBE LABELS,10,2021-06-02T00:00:00Z,BIGHIT|ë¹…íˆíŠ¸|ë°©íƒ„ì†Œë…„ë‹¨|BTS|BANGTAN|ë°©íƒ„,285698612,16319755,172331,6864694,https://i.ytimg.com/vi/WMweEpGlu_U/default.jpg,False,False,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV Credits: Dire...,16147424
54284,WMweEpGlu_U,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV,2021-05-21T03:46:13Z,UC3IZKseVpdzPSBaWxBxundA,HYBE LABELS,10,2021-06-02T00:00:00Z,BIGHIT|ë¹…íˆíŠ¸|ë°©íƒ„ì†Œë…„ë‹¨|BTS|BANGTAN|ë°©íƒ„,282265069,16272565,168794,6845770,https://i.ytimg.com/vi/WMweEpGlu_U/default.jpg,False,False,BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV Credits: Dire...,16103771

In [ ]:
# 1. ì‹«ì–´ìš”ê°€ ë§ì€ ë™ì˜ìƒ ìƒìœ„ 5ê°œ ì¶œë ¥í•˜ê¸°
# í’€ì´ë²• 
# 1) likesì™€ dislikes ë¹„êµ
# 2) ì •ë ¬í•˜ê¸°
# 3) ìƒìœ„ 5ê°œ í•„ë“œ ì¶œë ¥

In [72]:
Youtube[Youtube['likes'] < Youtube['dislikes']].sort_values('like_diff').head(10)

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,like_diff
945,9d7jNUjBoss,í‰ìƒ ë°˜ì„±í•˜ë©´ì„œ ì‚´ê² ìŠµë‹ˆë‹¤.,2020-08-10T09:54:13Z,UCMVC92EOs9yDJG5JS-CMesQ,ì–‘íŒ¡ YangPang,22,2020-08-18T00:00:00Z,ì–‘íŒ¡|ì–‘íŒ¡ìœ íŠœë¸Œ|íŒ¡íŠœë¸Œ|ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ê°€ì¡±|ì–‘íŒ¡ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ì–¸ë‹ˆ|í˜„ì‹¤ë‚¨ë§¤|í˜„ì‹¤ìë§¤...,4419287,20455,91514,60021,https://i.ytimg.com/vi/9d7jNUjBoss/default.jpg,False,False,NaN,-71059
775,9d7jNUjBoss,í‰ìƒ ë°˜ì„±í•˜ë©´ì„œ ì‚´ê² ìŠµë‹ˆë‹¤.,2020-08-10T09:54:13Z,UCMVC92EOs9yDJG5JS-CMesQ,ì–‘íŒ¡ YangPang,22,2020-08-17T00:00:00Z,ì–‘íŒ¡|ì–‘íŒ¡ìœ íŠœë¸Œ|íŒ¡íŠœë¸Œ|ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ê°€ì¡±|ì–‘íŒ¡ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ì–¸ë‹ˆ|í˜„ì‹¤ë‚¨ë§¤|í˜„ì‹¤ìë§¤...,4326626,20290,89927,60184,https://i.ytimg.com/vi/9d7jNUjBoss/default.jpg,False,False,NaN,-69637
593,9d7jNUjBoss,í‰ìƒ ë°˜ì„±í•˜ë©´ì„œ ì‚´ê² ìŠµë‹ˆë‹¤.,2020-08-10T09:54:13Z,UCMVC92EOs9yDJG5JS-CMesQ,ì–‘íŒ¡ YangPang,22,2020-08-16T00:00:00Z,ì–‘íŒ¡|ì–‘íŒ¡ìœ íŠœë¸Œ|íŒ¡íŠœë¸Œ|ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ê°€ì¡±|ì–‘íŒ¡ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ì–¸ë‹ˆ|í˜„ì‹¤ë‚¨ë§¤|í˜„ì‹¤ìë§¤...,4215782,20136,87995,60328,https://i.ytimg.com/vi/9d7jNUjBoss/default.jpg,False,False,NaN,-67859
432,9d7jNUjBoss,í‰ìƒ ë°˜ì„±í•˜ë©´ì„œ ì‚´ê² ìŠµë‹ˆë‹¤.,2020-08-10T09:54:13Z,UCMVC92EOs9yDJG5JS-CMesQ,ì–‘íŒ¡ YangPang,22,2020-08-15T00:00:00Z,ì–‘íŒ¡|ì–‘íŒ¡ìœ íŠœë¸Œ|íŒ¡íŠœë¸Œ|ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ê°€ì¡±|ì–‘íŒ¡ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ì–¸ë‹ˆ|í˜„ì‹¤ë‚¨ë§¤|í˜„ì‹¤ìë§¤...,4095899,19951,86072,58913,https://i.ytimg.com/vi/9d7jNUjBoss/default.jpg,False,False,NaN,-66121
273,9d7jNUjBoss,í‰ìƒ ë°˜ì„±í•˜ë©´ì„œ ì‚´ê² ìŠµë‹ˆë‹¤.,2020-08-10T09:54:13Z,UCMVC92EOs9yDJG5JS-CMesQ,ì–‘íŒ¡ YangPang,22,2020-08-14T00:00:00Z,ì–‘íŒ¡|ì–‘íŒ¡ìœ íŠœë¸Œ|íŒ¡íŠœë¸Œ|ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ê°€ì¡±|ì–‘íŒ¡ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ì–¸ë‹ˆ|í˜„ì‹¤ë‚¨ë§¤|í˜„ì‹¤ìë§¤...,3843425,19611,82807,57440,https://i.ytimg.com/vi/9d7jNUjBoss/default.jpg,False,False,NaN,-63196
950,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-18T00:00:00Z,ë³´ê²¸|bokyem,6879571,53705,115494,128860,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN,-61789
781,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-17T00:00:00Z,ë³´ê²¸|bokyem,6828812,53702,114938,133622,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN,-61236
526,jgHJEIajOeo,ë“œë¦´ë§ì”€ìˆìŠµë‹ˆë‹¤.,2020-08-07T14:46:01Z,UC5oft5dVf43M2cFmhpJLVGQ,ì• ì£¼ê°€TVì°¸PD,22,2020-08-15T00:00:00Z,ë¨¹ë°©|ìˆ ë¨¹ë°©|Mukbang|ì• ì£¼ê°€|ì°¸í”¼ë””|í˜¼ìˆ |ìˆ ì•ˆì£¼,3565893,16942,77592,69085,https://i.ytimg.com/vi/jgHJEIajOeo/default.jpg,False,False,NaN,-60650
598,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-16T00:00:00Z,ë³´ê²¸|bokyem,6769636,53734,114273,135521,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN,-60539
436,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-15T00:00:00Z,ë³´ê²¸|bokyem,6703894,53738,113548,135352,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN,-59810

ë‚œì´ë„: â˜…â˜†â˜†â˜†â˜†  
ë¬¸ì œ2: ë™ì˜ìƒì´ ê°œì‹œëœ ë‚ ì¸ [publishedAt]ê°€ ë¬´ìŠ¨ ìš”ì¼ì¸ì§€ [DayDate]ë¥¼ ìƒì„±í•˜ì—¬ ì¶œë ¥í•˜ì‹œì˜¤
[ì‚¬ìš©í•„ë“œ: publishedAt]  
[ìƒì„±í•„ë“œ: DayDate]  
[ì‚¬ìš©í•¨ìˆ˜: to_datetime().dt.day_name()[ì‹œê°„ > ìš”ì¼ ì´ë¦„ ì¶œë ¥]]

In [75]:
Youtube['DayDate'] = pd.to_datetime(Youtube['trending_date']).dt.day_name()
Youtube.head(1)

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,like_diff,DayDate
0,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-12T00:00:00Z,ë³´ê²¸|bokyem,5947503,53326,105756,139946,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN,-52430,Wednesday

ë‚œì´ë„: â˜…â˜…â˜…â˜…â˜†  
ë¬¸ì œ3: ìœ„ì—ì„œ ì¶”ì¶œëœ [DayDate]ë¥¼ í†µí•´ ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ [categoryId]ëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼  
[ì‚¬ìš©í•„ë“œ: DayDate, categoryId]  
[ì‚¬ìš©í•¨ìˆ˜: groupby, as_index, pivot, í†µê³„í•¨ìˆ˜(size)]

In [ ]:
# í’€ì´ë²•
# 1. ëŒ€ìƒì´ ë˜ëŠ” í•„ë“œ ê·¸ë£¹í™” í•˜ê¸°
# 2. í”¼ë²— í…Œì´ë¸”ì„ ì‚¬ìš©í•˜ì—¬ ì ìš©í•˜ê¸°

In [83]:
# DayDateì™€ categoryIdë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”í•˜ê³ , ê° ê·¸ë£¹ì˜ í¬ê¸°ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.
grouped = Youtube.groupby(['DayDate', 'categoryId']).size().reset_index(name='count')

# í”¼ë²— í…Œì´ë¸”ì„ ìƒì„±í•˜ì—¬ ìš”ì¼ë³„ë¡œ categoryIdë³„ ë™ì˜ìƒ ìˆ˜ë¥¼ í‘œì‹œí•©ë‹ˆë‹¤.
pivot_table = grouped.pivot(index='DayDate', columns='categoryId', values='count').fillna(0)

# ì¸ë±ìŠ¤ë¥¼ ë‹¤ì‹œ ì„¤ì •í•˜ì—¬ í•„ìš”í•œ í˜•íƒœì˜ ë°ì´í„° í”„ë ˆì„ì„ ì–»ìŠµë‹ˆë‹¤.
pivot_table.reset_index(inplace=True)
pivot_table

categoryId,DayDate,1,2,10,15,17,19,20,22,23,24,25,26,27,28,29
0,Friday,874,319,3742,649,2379,767,1229,5403,2114,11016,1350,1416,534,512,53
1,Monday,961,290,3763,682,2579,774,1212,5463,2131,11271,1354,1407,567,487,50
2,Saturday,899,305,3601,663,2248,737,1203,5257,2099,11003,1298,1395,521,510,55
3,Sunday,948,275,3554,697,2316,726,1194,5183,2060,10882,1281,1371,527,486,53
4,Thursday,919,328,3894,679,2456,791,1243,5439,2030,10948,1449,1442,570,529,64
5,Tuesday,922,302,3901,677,2545,749,1220,5415,2041,11058,1365,1433,548,467,49
6,Wednesday,886,324,3934,658,2510,777,1265,5364,2012,11057,1421,1442,579,491,66

### SeoulCity_UTF8.csv ì„œìš¸ 2022ë…„ ë‚ ì”¨ ê¸°ë¡
|í•„ë“œëª…|ë‚´ìš©|
|--|----|
|`ì§€ì `|[ê¸°ìƒìˆ˜ì§‘]ì§€ì  ì½”ë“œ|
|`ì§€ì ëª…`|[ê¸°ìƒìˆ˜ì§‘]ì§€ì  ì¥ì†Œ|
|`ì¼ì‹œ`|ì„œìš¸ ê¸°ìƒ ìˆ˜ì§‘ ì¼ì‹œ [ì‹œê°„ë§ˆë‹¤]|
|`ê¸°ì˜¨(Â°C)`|ì„œìš¸ì‹œ ì‹¤ì‹œê°„ ê¸°ì˜¨ [ë‹¨ìœ„:Â°C]|
|`ê°•ìˆ˜ëŸ‰(mm)`|ì„œìš¸ì‹œ ì‹¤ì‹œê°„ ê°•ìˆ˜ëŸ‰ [ë‹¨ìœ„:mm]|
|`í’ì†(m/s)`|ì„œìš¸ì‹œ ì‹¤ì‹œê°„ í’ì† [ë‹¨ìœ„:(m/s)]|
|`í’í–¥(16ë°©ìœ„)`|ì„œìš¸ì‹œ ì‹¤ì‹œê°„ í’í–¥ [ë‹¨ìœ„:360Â°]|
|`ìŠµë„(%)`|ì„œìš¸ì‹œ ì‹¤ì‹œê°„ ìŠµë„ [ë‹¨ìœ„:%]|
|`í˜„ì§€ê¸°ì••(hPa)`|ì„œìš¸ì‹œ ì‹¤ì‹œê°„ í˜„ì§€ ê¸°ì•• [ë‹¨ìœ„:hPa]|
|`í•´ë©´ê¸°ì••(hPa)`|ì„œìš¸ì‹œ ì‹¤ì‹œê°„ í•´ë©´ ê¸°ì•• [ë‹¨ìœ„:hPa]|
|`ì ì„¤(cm)`|ì„œìš¸ì‹œ ì‹¤ì‹œê°„ ì ì„¤ [ë‹¨ìœ„:cm]|

In [98]:
Seoul = Seoul_csv.copy()
Seoul

       ì§€ì  ì§€ì ëª…                ì¼ì‹œ   ê¸°ì˜¨  ê°•ìˆ˜ëŸ‰   í’ì†   í’í–¥  ìŠµë„    í˜„ì§€ê¸°ì••    í•´ë©´ê¸°ì••  ì ì„¤
0     108  ì„œìš¸   2022-01-01 1:00 -9.2  NaN  1.8  270  42  1022.2  1033.6 NaN
1     108  ì„œìš¸   2022-01-01 2:00 -9.5  NaN  1.2  270  43  1022.3  1033.7 NaN
2     108  ì„œìš¸   2022-01-01 3:00 -9.3  NaN  1.4  290  46  1022.6  1034.0 NaN
3     108  ì„œìš¸   2022-01-01 4:00 -9.6  NaN  1.7  340  48  1021.9  1033.3 NaN
4     108  ì„œìš¸   2022-01-01 5:00 -9.7  NaN  0.8  270  51  1022.0  1033.4 NaN
...   ...  ..               ...  ...  ...  ...  ...  ..     ...     ...  ..
8754  108  ì„œìš¸  2022-12-31 19:00 -0.2  NaN  1.8   20  73  1018.5  1029.4 NaN
8755  108  ì„œìš¸  2022-12-31 20:00 -0.8  NaN  1.4   20  75  1018.1  1029.0 NaN
8756  108  ì„œìš¸  2022-12-31 21:00 -1.0  NaN  0.9  340  77  1018.2  1029.2 NaN
8757  108  ì„œìš¸  2022-12-31 22:00 -0.8  NaN  0.5  290  78  1018.3  1029.3 NaN
8758  108  ì„œìš¸  2022-12-31 23:00 -0.2  NaN  1.3  230  77  1018.5  1029.4 NaN

[8759 rows x 11 columns]

ë‚œì´ë„: â˜…â˜…â˜…â˜†â˜†  
ë¬¸ì œ1: 2022ë…„ 7ì›” í•œë‹¬ ë™ì•ˆ ê° ì‹œê°„ë§ˆë‹¤ì˜ í‰ê·  ê¸°ì˜¨ / í’ì† / ìŠµë„ / í˜„ì§€ê¸°ì•• / í•´ë©´ê¸°ì••ì„ êµ¬í•˜ì‹œì˜¤  
ì¡°ê±´: ì†Œìˆ˜ 2ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼ í•  ê²ƒ  
[ì‚¬ìš©í•„ë“œ: ì¼ì‹œ, ê¸°ì˜¨, í’ì†, ìŠµë„, í˜„ì§€ê¸°ì••, í•´ë©´ê¸°ì••]  
[ì‚¬ìš©í•¨ìˆ˜: groupby, to_datetime, round, í†µê³„í•¨ìˆ˜(mean)]  
[ìƒì„±í•„ë“œ: ì‹œê°„]

In [ ]:
# ê°€ì´ë“œ / íŒíŠ¸
# 0. ì¼ì‹œë¥¼ datetime íƒ€ì…ìœ¼ë¡œ ë³€ê²½í•˜ê¸°
# 1. ì‹œê°„ì„ ì¶”ì¶œí•˜ê¸°
# 2. ì „ì²´ ê¸°ê°„ > ì›”ë¡œ ë²”ìœ„ ì¢íˆê¸°
# 3. "ì‹œê°„"ìœ¼ë¡œ ê·¸ë£¹í™”í•˜ê¸°

In [100]:
Seoul.head(1)

    ì§€ì  ì§€ì ëª…               ì¼ì‹œ   ê¸°ì˜¨  ê°•ìˆ˜ëŸ‰   í’ì†   í’í–¥  ìŠµë„    í˜„ì§€ê¸°ì••    í•´ë©´ê¸°ì••  ì ì„¤
0  108  ì„œìš¸  2022-01-01 1:00 -9.2  NaN  1.8  270  42  1022.2  1033.6 NaN

In [103]:
Seoul['ì‹œê°„'] = pd.to_datetime(Seoul['ì¼ì‹œ']).dt.hour
Seoul.head(5)

    ì§€ì  ì§€ì ëª…               ì¼ì‹œ   ê¸°ì˜¨  ê°•ìˆ˜ëŸ‰   í’ì†   í’í–¥  ìŠµë„    í˜„ì§€ê¸°ì••    í•´ë©´ê¸°ì••  ì ì„¤  ì‹œê°„
0  108  ì„œìš¸  2022-01-01 1:00 -9.2  NaN  1.8  270  42  1022.2  1033.6 NaN   1
1  108  ì„œìš¸  2022-01-01 2:00 -9.5  NaN  1.2  270  43  1022.3  1033.7 NaN   2
2  108  ì„œìš¸  2022-01-01 3:00 -9.3  NaN  1.4  290  46  1022.6  1034.0 NaN   3
3  108  ì„œìš¸  2022-01-01 4:00 -9.6  NaN  1.7  340  48  1021.9  1033.3 NaN   4
4  108  ì„œìš¸  2022-01-01 5:00 -9.7  NaN  0.8  270  51  1022.0  1033.4 NaN   5

In [115]:
Seoul.groupby('ì‹œê°„')[['ê¸°ì˜¨','ìŠµë„','í˜„ì§€ê¸°ì••','í•´ë©´ê¸°ì••']].mean().round(2)

       ê¸°ì˜¨     ìŠµë„     í˜„ì§€ê¸°ì••     í•´ë©´ê¸°ì••
ì‹œê°„
0   11.84  69.99  1006.31  1016.62
1   11.42  71.22  1006.28  1016.60
2   11.08  72.40  1006.22  1016.56
3   10.75  73.40  1006.18  1016.54
4   10.47  74.53  1006.09  1016.45
5   10.21  75.33  1006.10  1016.48
6   10.01  76.09  1006.31  1016.69
7   10.02  76.36  1006.55  1016.94
8   10.60  74.81  1006.82  1017.19
9   11.79  70.55  1006.99  1017.31
10  13.28  64.98  1007.01  1017.27
11  14.70  59.37  1006.83  1017.04
12  15.80  55.39  1006.36  1016.52
13  16.61  52.74  1005.77  1015.89
14  17.13  50.77  1005.25  1015.34
15  17.30  50.16  1004.89  1014.98
16  17.19  50.79  1004.76  1014.85
17  16.59  52.39  1004.79  1014.90
18  15.64  55.62  1004.95  1015.10
19  14.68  59.25  1005.30  1015.49
20  13.87  62.46  1005.65  1015.87
21  13.23  64.78  1006.02  1016.28
22  12.68  66.70  1006.29  1016.56
23  12.22  68.33  1006.34  1016.64

ë‚œì´ë„: â˜…â˜…â˜…â˜…â˜…  
ë¬¸ì œ1: 3ê°œì›” ë§ˆë‹¤ ë´„ [3~5] / ì—¬ë¦„[6~8] / ê°€ì„[9~11] / ê²¨ìš¸ [12~2]ë¡œ ë‚˜ëˆˆ í›„ ê° ê³„ì ˆì˜ í‰ê·  ê¸°ì˜¨, í’ì†, ìŠµë„, í˜„ì§€ê¸°ì••, í•´ë©´ê¸°ì••ì„ êµ¬í•˜ì‹œì˜¤  
ì¡°ê±´: ì†Œìˆ˜ 2ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼ í•  ê²ƒ  
[ì‚¬ìš©í•„ë“œ: ì¼ì‹œ, ê¸°ì˜¨, í’ì†, ìŠµë„, í˜„ì§€ê¸°ì••, í•´ë©´ê¸°ì••]  
[ì‚¬ìš©í•¨ìˆ˜: to_datetime, groupby, round, [apply or map], í†µê³„í•¨ìˆ˜(mean)]  
[ìƒì„±í•„ë“œ: ì›”, ê³„ì ˆ]

In [ ]:
# ê°€ì´ë“œ / íŒíŠ¸
# 0. ì¼ì‹œë¥¼ datetime íƒ€ì…ìœ¼ë¡œ ë³€ê²½í•˜ê¸°
# 1. ì›” ì¶”ì¶œí•˜ê¸°
# 2. ì›”ë§ˆë‹¤ ê³„ì ˆ í•„ë“œ ìƒì„±í•˜ê¸° (map í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•  ê²ƒ)
# 3. ê³„ì ˆ ê·¸ë£¹í™” í•˜ê¸°
# â€» í•„ë“œ ì •ë¦¬í•˜ê¸°

In [116]:
Seoul.head(1)

    ì§€ì  ì§€ì ëª…               ì¼ì‹œ   ê¸°ì˜¨  ê°•ìˆ˜ëŸ‰   í’ì†   í’í–¥  ìŠµë„    í˜„ì§€ê¸°ì••    í•´ë©´ê¸°ì••  ì ì„¤  ì‹œê°„
0  108  ì„œìš¸  2022-01-01 1:00 -9.2  NaN  1.8  270  42  1022.2  1033.6 NaN   1

In [122]:
def find_season(x):
    xx = x // 3
    if xx == 1:
        return 'ë´„'
    elif xx == 2:
        return 'ì—¬ë¦„'
    elif xx == 3:
        return 'ê°€ì„'
    else:
        return 'ê²¨ìš¸'

In [126]:
Seoul['ì›”'] = pd.to_datetime(Seoul['ì¼ì‹œ']).dt.month
Seoul['ê³„ì ˆ'] = Seoul['ì›”'].apply(find_season)
Seoul.head(5)

,ì§€ì,ì§€ì ëª…,ì¼ì‹œ,ê¸°ì˜¨,ê°•ìˆ˜ëŸ‰,í’ì†,í’í–¥,ìŠµë„,í˜„ì§€ê¸°ì••,í•´ë©´ê¸°ì••,ì ì„¤,ì‹œê°„,ì›”,ê³„ì ˆ
0,108,ì„œìš¸,2022-01-01 1:00,-9.2,NaN,1.8,270,42,1022.2,1033.6,NaN,1,1,ê²¨ìš¸
1,108,ì„œìš¸,2022-01-01 2:00,-9.5,NaN,1.2,270,43,1022.3,1033.7,NaN,2,1,ê²¨ìš¸
2,108,ì„œìš¸,2022-01-01 3:00,-9.3,NaN,1.4,290,46,1022.6,1034.0,NaN,3,1,ê²¨ìš¸
3,108,ì„œìš¸,2022-01-01 4:00,-9.6,NaN,1.7,340,48,1021.9,1033.3,NaN,4,1,ê²¨ìš¸
4,108,ì„œìš¸,2022-01-01 5:00,-9.7,NaN,0.8,270,51,1022.0,1033.4,NaN,5,1,ê²¨ìš¸

In [133]:
Seoul.groupby('ê³„ì ˆ')[['ê¸°ì˜¨', 'í’ì†', 'ìŠµë„', 'í˜„ì§€ê¸°ì••', 'í•´ë©´ê¸°ì••']].agg('mean')

           ê¸°ì˜¨        í’ì†         ìŠµë„         í˜„ì§€ê¸°ì••         í•´ë©´ê¸°ì••
ê³„ì ˆ
ê°€ì„  15.655220  2.214423  67.109432  1008.309615  1018.478709
ê²¨ìš¸  -2.064937  2.357202  56.207503  1014.369384  1025.336869
ë´„   13.802627  2.594293  57.658967  1005.094339  1015.304620
ì—¬ë¦„  25.476540  2.314900  76.930707   996.448053  1006.125181