# Data 정보
|csv이름|내용|
|--|----|
|`SeoulCity.csv`|서울시 날씨 데이터|
|`KR_youtube.csv`|한국 유튜브 인기 동영상 데이터|
|`worldcupgoals.csv`|월드컵 골기록 데이터|

In [2]:
import pandas as pd
import numpy as np

In [3]:
dir = "./Data/"
Seoul_csv = pd.read_csv(dir + "SeoulCity_UTF8.csv", encoding="utf-8-sig")
Youtube_csv = pd.read_csv(dir + "KR_youtube.csv", encoding="utf-8-sig")
World_csv = pd.read_csv(dir + "worldcupgoals.csv", encoding="cp949")

### A. 문제 worldcupgoals.csv 역대 월드컵 경기 골 기록
|필드명|내용|
|--|----|
|`Player`|선수이름|
|`Goals`|골 횟수|
|`Year`|출전년도|
|`Country`|국가|

In [4]:
World = World_csv.copy()
World

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

난이도: ★☆☆☆☆  
문제1: 독일 국적[Germany]을 가진 선수의 정보를 출력하시오  
[사용필드: Country]

In [ ]:
World

난이도: ★☆☆☆☆  
문제2: 브라질 국적[Brazil]을 가진 선수중 가장 많은 골을 넣은 선수의 이름을 출력하시오  
[사용필드: Country]  
[사용함수: sort_values, head]

In [ ]:
# 가이드 / 힌트
# 1. 브라질 국적을 가진 선수의 정보 출력
# 2. 정렬
# 3. 위에서 한개만 출력하여 데이터 저장
# 4. 선수 이름을 출력

In [ ]:
World

난이도: ★★☆☆☆  
문제3: 각 선수별 출전년도인 Year를 Number로 월드컵 참가 횟수를 기재한 필드를 생성하시오.  
[사용필드: Year]  
[생성필드: Number]  
[사용함수: split, map or lamda]

In [ ]:
# 가이드 / 힌트 
# 1. Year 필드를 분리해서 Serise로 보여주기
# 2. 분리된 Serise 필드를 함수를 사용하여 필드의 개수를 세기
# 2-1. lambda 식을 사용하기
# 2-2. map과 함수를 만들어서 해결하기
# 3. 풀이법 2번에서 해결한 방식으로 적용된 값을 Number 필드에 넣기

In [ ]:
World

난이도: ★★☆☆☆  
문제4: 각 나라별 월드컵 골 개수 출력하고 상위 5개 팀만 출력하시오  
[사용함수: groupby, sort_values, head]  
[사용필드: Country, Goals]

In [ ]:
# 가이드 / 힌트
# 1. 표로 출력할 필드 일부만 가져오기
# 2. Country로 groupby를 하기 [그룹된 필드 함수: sum]
# 3. Goals를 기준으로 정렬하기
# 4. 상위 5개만 출력하기

In [ ]:
World

### KR_youtube.csv 유튜브 인기 영상
|필드명|내용|
|--|----|
|`video_id`|동영상ID|
|`title`|동영상제목|
|`publishedAt`|동영상 개시일|
|`channelId`|채널아이디|
|`channelTitle`|채널제목|
|`categoryId`|장르코드|
|`trending_date`|수정날짜|
|`tags`|태그|
|`view_count`|시청횟수|
|`likes`|좋아요|
|`dislikes`|싫어요|
|`comment_count`|답글 개수|
|`thumbnail_link`|썸네일 링크|
|`comments_disabled`|답글 [비]/활성화 여부|
|`ratings_disabled`|시청등급 사용 여부|
|`description`|동영상 설명|

In [12]:
Youtube = Youtube_csv.copy()
Youtube

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,24,2020-08-12T00:00:00Z,보겸|bokyem,5947503,53326,105756,139946,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN
1,I-ZbZCHsHD0,부락토스의 계획 [총몇명 프리퀄],2020-08-12T09:00:08Z,UCRuSxVu4iqTK5kCh90ntAgA,총몇명,1,2020-08-12T00:00:00Z,총몇명|재밌는 만화|부락토스|루시퍼|총몇명 프리퀄|총몇명 스토리,963384,28244,494,3339,https://i.ytimg.com/vi/I-ZbZCHsHD0/default.jpg,False,False,"오늘도 정말 감사드립니다!!총몇명 스튜디오 - 총몇명, 십제곱, 5G민, MOVE혁..."
2,9d7jNUjBoss,평생 반성하면서 살겠습니다.,2020-08-10T09:54:13Z,UCMVC92EOs9yDJG5JS-CMesQ,양팡 YangPang,22,2020-08-12T00:00:00Z,양팡|양팡유튜브|팡튜브|가족시트콤|양팡가족|양팡가족시트콤|양팡언니|현실남매|현실자매...,2950885,17974,68898,50688,https://i.ytimg.com/vi/9d7jNUjBoss/default.jpg,False,False,NaN
3,3pI_L3-sMVg,안녕하세요 꽈뚜룹입니다.,2020-08-11T15:00:58Z,UCkQCwnkQfgSuPTTnw_Y7v7w,꽈뚜룹 Quaddurup,24,2020-08-12T00:00:00Z,꽈뚜룹|한국여행기|quaddurup|뚜룹이|korea|southkorea|vlog|...,1743374,36893,1798,8751,https://i.ytimg.com/vi/3pI_L3-sMVg/default.jpg,False,False,앞으로 좀 더 깔끔한 영상제작 약속 드리겠습니다.늘 감사드립니다
4,zrsBjYukE8s,박진영 (J.Y. Park) When We Disco (Duet with 선미) M/V,2020-08-11T09:00:13Z,UCaO6TYtlC8U5ttz62hTrZgg,JYP Entertainment,10,2020-08-12T00:00:00Z,JYP Entertainment|JYP|J.Y.Park|JYPark|박진영|선미|S...,3433885,353337,9763,23405,https://i.ytimg.com/vi/zrsBjYukE8s/default.jpg,False,False,MelOn http://kko.to/TWyXd7zYjSpotify https://s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226949,-dL8aYIHsmg,ASMR(Sub✔)2년만에 하는 위스퍼링 양쪽 귀에 아주 부드럽게 속삭여드려요It'...,2023-09-16T14:09:35Z,UCJXuQ9aRkS_HaFEBhiHFpWw,[ASMR]nara_나라,22,2023-10-04T00:00:00Z,#위스퍼링|#수다asmr|#토킹asmr,345248,9461,0,506,https://i.ytimg.com/vi/-dL8aYIHsmg/default.jpg,False,False,안녕하세요 여러분 오늘은 거의 2년 만에 하는 위스퍼링 토킹 영상입니다그동안 상황극...
226950,LMrLWuK3QGk,일본 일상 vlogㅣ연하 일본인 남친이 처음으로 질투한 썰푼다..도..도파..민🔥ㅣ...,2023-09-15T15:38:36Z,UCoQy2wS5aiKCk-rUXiLS-vQ,토모토모TomoTomo,22,2023-10-04T00:00:00Z,[None],635649,13707,0,1180,https://i.ytimg.com/vi/LMrLWuK3QGk/default.jpg,False,False,▶︎ instagram : @zzangtomo http://instagram.com...
226951,3RwTNe0gHYI,공산국가 쿠바에서 다시 만난 3인조 - 쿠바(1),2023-09-14T12:36:34Z,UClRNDVO8093rmRTtLe4GEPw,곽튜브,19,2023-10-04T00:00:00Z,[None],2023156,35553,0,2279,https://i.ytimg.com/vi/3RwTNe0gHYI/default.jpg,False,False,"안녕하세요쿠바 하바나에서 드디어노홍철, 빠니보틀 형님과 재회했습니다.1편 분량 조절..."
226952,8ufmaYg96ew,딸의 결혼식을 위해 미국에서 가족들이 한국에 왔습니다 My Family Came t...,2023-09-16T11:11:10Z,UCv8lBJuzo6iCtYgZC8csBOg,D&J딘 and 줄리엣,22,2023-10-04T00:00:00Z,International couple|Korean boyfriend|American...,529574,16726,0,898,https://i.ytimg.com/vi/8ufmaYg96ew/default.jpg,False,False,"※가족들에 대한 욕설과 비방성 댓글은 통보없이 삭제하겠습니다※안녕하세요, D&J 구..."
226953,ysTIbxMTJp8,I don’t know a single thing (Feat. meenoi),2023-09-13T09:00:46Z,UCoV8L_tyJqZoRh51f-2ylhQ,Leellamarz - Topic,10,2023-10-04T00:00:00Z,Leellamarz|릴러말즈|meenoi|I don’t know a single t...,1442336,13543,0,0,https://i.ytimg.com/vi/ysTIbxMTJp8/default.jpg,False,False,Provided to YouTube by Genie Music Corporation...

난이도: ★★☆☆☆  
문제1: 인기 있는 동영상 중 싫어요[dislikes] 보다 좋아요[likes]가 많은 동영상과 좋아요[likes]보다 싫어요[dislikes]가 많은 동영상 상위 5위까지의 정보를 출력하시오  
[사용필드: likes, dislikes]  
[사용함수: sort_values, head]

In [ ]:
# 1. 좋아요가 많은 동영상 상위 5개 출력하기
# 풀이법 
# 1) likes와 dislikes 비교
# 2) 정렬하기
# 3) 상위 5개 필드 출력

In [ ]:
Youtube

In [ ]:
# 1. 싫어요가 많은 동영상 상위 5개 출력하기
# 풀이법 
# 1) likes와 dislikes 비교
# 2) 정렬하기
# 3) 상위 5개 필드 출력

In [ ]:
Youtube

난이도: ★☆☆☆☆  
문제2: 동영상이 개시된 날인 [publishedAt]가 무슨 요일인지 [DayDate]를 생성하여 출력하시오
[사용필드: publishedAt]  
[생성필드: DayDate]  
[사용함수: to_datetime().dt.day_name()[시간 > 요일 이름 출력]]

In [ ]:
Youtube

난이도: ★★★★☆  
문제3: 위에서 추출된 [DayDate]를 통해 각 요일별 인기 영상들의 [categoryId]는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라  
[사용필드: DayDate, categoryId]  
[사용함수: groupby, as_index, pivot, 통계함수(size)]

In [ ]:
# 풀이법
# 1. 대상이 되는 필드 그룹화 하기
# 2. 피벗 테이블을 사용하여 적용하기

In [ ]:
Youtube

### SeoulCity_UTF8.csv 서울 2022년 날씨 기록
|필드명|내용|
|--|----|
|`지점`|[기상수집]지점 코드|
|`지점명`|[기상수집]지점 장소|
|`일시`|서울 기상 수집 일시 [시간마다]|
|`기온(°C)`|서울시 실시간 기온 [단위:°C]|
|`강수량(mm)`|서울시 실시간 강수량 [단위:mm]|
|`풍속(m/s)`|서울시 실시간 풍속 [단위:(m/s)]|
|`풍향(16방위)`|서울시 실시간 풍향 [단위:360°]|
|`습도(%)`|서울시 실시간 습도 [단위:%]|
|`현지기압(hPa)`|서울시 실시간 현지 기압 [단위:hPa]|
|`해면기압(hPa)`|서울시 실시간 해면 기압 [단위:hPa]|
|`적설(cm)`|서울시 실시간 적설 [단위:cm]|

In [16]:
Seoul = Seoul_csv.copy()
Seoul

       지점 지점명                일시   기온  강수량   풍속   풍향  습도    현지기압    해면기압  적설
0     108  서울   2022-01-01 1:00 -9.2  NaN  1.8  270  42  1022.2  1033.6 NaN
1     108  서울   2022-01-01 2:00 -9.5  NaN  1.2  270  43  1022.3  1033.7 NaN
2     108  서울   2022-01-01 3:00 -9.3  NaN  1.4  290  46  1022.6  1034.0 NaN
3     108  서울   2022-01-01 4:00 -9.6  NaN  1.7  340  48  1021.9  1033.3 NaN
4     108  서울   2022-01-01 5:00 -9.7  NaN  0.8  270  51  1022.0  1033.4 NaN
...   ...  ..               ...  ...  ...  ...  ...  ..     ...     ...  ..
8754  108  서울  2022-12-31 19:00 -0.2  NaN  1.8   20  73  1018.5  1029.4 NaN
8755  108  서울  2022-12-31 20:00 -0.8  NaN  1.4   20  75  1018.1  1029.0 NaN
8756  108  서울  2022-12-31 21:00 -1.0  NaN  0.9  340  77  1018.2  1029.2 NaN
8757  108  서울  2022-12-31 22:00 -0.8  NaN  0.5  290  78  1018.3  1029.3 NaN
8758  108  서울  2022-12-31 23:00 -0.2  NaN  1.3  230  77  1018.5  1029.4 NaN

[8759 rows x 11 columns]

난이도: ★★★☆☆  
문제1: 2022년 7월 한달 동안 각 시간마다의 평균 기온 / 풍속 / 습도 / 현지기압 / 해면기압을 구하시오  
조건: 소수 2자리에서 반올림 할 것  
[사용필드: 일시, 기온, 풍속, 습도, 현지기압, 해면기압]  
[사용함수: groupby, to_datetime, round, 통계함수(mean)]  
[생성필드: 시간]

In [ ]:
# 가이드 / 힌트
# 0. 일시를 datetime 타입으로 변경하기
# 1. 시간을 추출하기
# 2. 전체 기간 > 월로 범위 좁히기
# 3. "시간"으로 그룹화하기

In [ ]:
Seoul

난이도: ★★★★★  
문제1: 3개월 마다 봄 [3~5] / 여름[6~8] / 가을[9~11] / 겨울 [12~2]로 나눈 후 각 계절의 평균 기온, 풍속, 습도, 현지기압, 해면기압을 구하시오  
조건: 소수 2자리에서 반올림 할 것  
[사용필드: 일시, 기온, 풍속, 습도, 현지기압, 해면기압]  
[사용함수: to_datetime, groupby, round, [apply or map], 통계함수(mean)]  
[생성필드: 월, 계절]

In [ ]:
# 가이드 / 힌트
# 0. 일시를 datetime 타입으로 변경하기
# 1. 월 추출하기
# 2. 월마다 계절 필드 생성하기 (map 함수를 사용할 것)
# 3. 계절 그룹화 하기
# ※ 필드 정리하기

In [ ]:
Seoul